@charset "UTF-8";
* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0; }

a {
  color: black; }

.flex {
  display: flex; }

.flex-col {
  display: flex;
  flex-direction: column; }

.header {
  background: cadetblue; }
  .header__title {
    justify-content: center;
    align-self: center;
    font-weight: 900;
    font-size: 32px;
    padding-top: 0.5em; }
  .header__nav-bar {
    justify-content: space-between; }
  .header__nav-item {
    font-weight: 200;
    padding: 1em;
    flex: 1;
    text-align: center; }
    .header__nav-item:hover {
      cursor: pointer;
      background: #72c2c5; }
    .header__nav-item--selected {
      font-weight: 900;
      background: #4a7c7e;
      color: white; }
      .header__nav-item--selected:hover {
        font-weight: 900;
        background: #4a7c7e;
        color: white; }

.form {
  margin: 5em;
  padding: 2em;
  border: solid black 1px;
  border-radius: 10px;
  background: lightcyan;
  gap: 0.5em;
  width: 50%;
  align-self: center; }
  .form__title {
    text-decoration: underline;
    font-size: 24px; }
  .form__valid {
    padding-left: 6px; }
  .form__input-text {
    border-radius: 5px;
    text-indent: 8px; }
    .form__input-text + .form__valid {
      position: relative; }
    .form__input-text:valid {
      border-color: lightgreen; }
      .form__input-text:valid + .form__valid::before {
        content: "✓";
        color: green; }
    .form__input-text:invalid {
      border-color: red; }
      .form__input-text:invalid + .form__valid::before {
        content: "✖";
        color: red; }
    .form__input-text:focus-visible {
      outline: #4a7c7e solid 2px; }
  .form__input-num {
    border-radius: 5px;
    text-indent: 8px; }
    .form__input-num + .form__valid {
      position: relative; }
    .form__input-num:valid {
      border-color: lightgreen; }
      .form__input-num:valid + .form__valid::before {
        content: "✓";
        color: green; }
    .form__input-num:invalid {
      border-color: red; }
      .form__input-num:invalid + .form__valid::before {
        content: "✖";
        color: red; }
    .form__input-num:focus-visible {
      outline: #4a7c7e solid 2px; }
  .form__input-radio:focus-visible {
    outline: #4a7c7e solid 2px; }
  .form__btn-field {
    gap: 1em; }
  .form__btn {
    padding: 0.3em 1em;
    border: none;
    border-radius: 5px;
    background: #5f9ea0; }
    .form__btn:hover {
      background: #72c2c5; }
    .form__btn:focus-visible {
      outline: #4a7c7e solid 2px; }
    .form__btn--reset:hover {
      outline: red 2px solid; }
    .form__btn--submit:hover {
      outline: lightgreen 2px solid; }

.table__head {
  padding: 0.5em; }
.table__title {
  font-weight: 800;
  font-size: 24px;
  justify-content: center; }
.table__row {
  background: #72c2c5; }
  .table__row--even {
    background: #4a7c7e;
    color: white; }
.table__item {
  flex: 1;
  text-align: center;
  overflow: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none; }
  .table__item::-webkit-scrollbar {
    display: none; }

.hide-me {
  display: none; }

/*# sourceMappingURL=style.css.map */
