* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

a {
  color: black;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.header {
  background: cadetblue;
  &__title {
    justify-content: center;
    align-self: center;
    font-weight: 900;
    font-size: 32px;
    padding-top: 0.5em;
  }
  &__nav-bar {
    justify-content: space-between;
  }
  &__nav-item {
    font-weight: 200;
    padding: 1em;
    flex: 1;
    text-align: center;
    &:hover {
      cursor: pointer;
      background: rgb(114, 194, 197);
    }
    &--selected {
      font-weight: 900;
      background: rgb(74, 124, 126);
      color: white;
      &:hover {
        font-weight: 900;
        background: rgb(74, 124, 126);
        color: white;
      }
    }
  }
}

.form {
  margin: 5em;
  padding: 2em;
  border: solid black 1px;
  border-radius: 10px;
  background: lightcyan;
  gap: 0.5em;
  width: 50%;
  align-self: center;
  &__title {
    text-decoration: underline;
    font-size: 24px;
  }
  &__item {
  }
  &__label {
  }
  &__valid {
    padding-left: 6px;
  }
  &__input-text {
    border-radius: 5px;
    text-indent: 8px;
    & + .form__valid {
      position: relative;
    }
    &:valid {
      border-color: lightgreen;
      & + .form__valid::before {
        content: "✓";
        color: green;
      }
    }
    &:invalid {
      border-color: red;
      & + .form__valid::before {
        content: "✖";
        color: red;
      }
    }
    &:focus-visible {
      outline: #4a7c7e solid 2px;
    }
  }
  &__input-num {
    border-radius: 5px;
    text-indent: 8px;
    & + .form__valid {
      position: relative;
    }
    &:valid {
      border-color: lightgreen;
      & + .form__valid::before {
        content: "✓";
        color: green;
      }
    }
    &:invalid {
      border-color: red;
      & + .form__valid::before {
        content: "✖";
        color: red;
      }
    }
    &:focus-visible {
      outline: #4a7c7e solid 2px;
    }
  }
  &__input-radio {
    &:focus-visible {
      outline: #4a7c7e solid 2px;
    }
  }
  &__btn-field {
    gap: 1em;
  }
  &__btn {
    padding: 0.3em 1em;
    border: none;
    border-radius: 5px;
    background: #5f9ea0;
    &:hover {
      background: rgb(114, 194, 197);
    }
    &:focus-visible {
      outline: #4a7c7e solid 2px;
    }
    &--reset {
      &:hover {
        outline: red 2px solid;
      }
    }
    &--del{
      padding:0 .8em;
      margin-right: .3em;
      height: 1.7em;
      align-self: center;
    }
    &--submit {
      &:hover {
        outline: lightgreen 2px solid;
      }
    }
  }
}

.table {
  &__head {
    padding: 0.5em;
  }
  &__title {
    font-weight: 800;
    font-size: 24px;
    justify-content: center;
  }
  &__head-row {
    justify-content: space-between;
  }

  &__row {
    background: rgb(114, 194, 197);
    &--even {
      background: rgb(74, 124, 126);
      color: white;
    }
  }
  &__item {
    flex: 1;
    padding: .3em;
    text-align: left;
    overflow: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar{
      display: none;
    }
  }
}

.hide-me{
  display: none;
}