* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

a{
  color: black;
}

.flex{
  display: flex;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.header{
  background: cadetblue;
  &__title{
    justify-content: center;
    align-self: center;
    font-weight: 900;
    font-size: 32px;
    padding-left: 1em;
    padding-top: .5em;
  }
  &__nav-bar{
    justify-content: space-between;
    gap: .8em;
  }
  &__nav-item{
    font-weight: 200;
    padding: 1em;
    &:hover{
      background: rgb(114, 194, 197);
    }
    &--selected{
      font-weight: 900;
      background: rgb(74, 124, 126);
      color: white;
      &:hover{
        font-weight: 900;
        background: rgb(74, 124, 126);
        color: white;
      }
  
  }

}
}

.form{
  margin: 5em;
  padding: 3em;
border: solid black 1px;
border-radius: 10px;
background: lightcyan;
gap:.5em;
align-items:center;
  &__title{
    text-decoration: underline;
    font-size: 24px;
  }
  &__item{

  }
  &__label{

  }
  &__input-text{

  }
  &__input-num{

  }
  &__input-radio{

  }
  &__btn-field{

  }
  &__btn{
    
    &--reset{
      
    }
    &--submit{

    }
  }
}